In [ ]:
# Categories = ["Men's wear","Women's wear", "Accessories" ,'Shoes']
a = "Men's wear"
b = "Women's wear"
c = 'Accessories'
d = 'Shoes'
print(a)
print(b)
print(c)
print(d)

Men's wear
Women's wear
Accessories
Shoes

In [ ]:
# Intergers
mens_wear = int(4)
womens_wear = int(4)
accessories = int(4)
shoes = int(4)
print(mens_wear)
print(womens_wear)
print(accessories)
print(shoes)

4
4
4
4

In [ ]:
# Intergers
mens_wear = int(4)
womens_wear = int(4)
accessories = int(4)
shoes = int(4)
print(mens_wear, womens_wear, accessories, shoes)

4 4 4 4

In [ ]:
# strings
mens_wear = "Trousers, Shirts, Jackets, Tshirts"
womens_wear = "Dresses, Skirts,Blouses,Trousers"
accessories = "Bags, Watches, scarves, Belts"
shoes = "canvas, sports, Boots , sandals"
# print(mens_wear, womens_wear, accessories, shoes)

# print(mens_wear)
# print(womens_wear)
# print(accessories)
# print(shoes)

print(mens_wear)
print(womens_wear)
print(accessories)
print(shoes)

Trousers, Shirts, Jackets, Tshirts
Dresses, Skirts,Blouses,Trousers
Bags, Watches, scarves, Belts
canvas, sports, Boots , sandals

In [ ]:
# float
mens_wear = float(4)
womens_wear = float(4)
accessories = float(4)
shoes = float(4)
print(mens_wear)
print(womens_wear)
print(accessories)
print(shoes)

4.0
4.0
4.0
4.0

In [ ]:
# Mens wear prices
Trousers = float(500)
shirts = float(300)
Jackets = float(400)
Tshirts = float(200)
print(Trousers, shirts, Jackets, Tshirts)

500.0 300.0 400.0 200.0

In [ ]:
# Womens wear prices
Dresses = float(300)
Skirts = float(200)
Blouses = float(50)
Trousers = float(150)
print(Dresses, Skirts, Blouses, Trousers)

300.0 200.0 50.0 150.0

In [ ]:
# Accessories prices
Bags = float(150)
Watches = float(50)
scarves = float(50)
Belts = float(30)
print(Bags, Watches,scarves,Belts)

150.0 50.0 50.0 30.0

In [ ]:
# Shoes prices
Canvas = float(100)
Sports = float(500)
Boots = float(300)
Sandals = float(70)
print(Canvas, Sports, Boots, Sandals)

100.0 500.0 300.0 70.0

In [ ]:
# List
mens_wear = ["Trousers", "Shirts", "Jackets", "Tshirts"]
womens_wear = ["Dresses", "Skirts", "Blouses", "Trousers"]
accessories = ["Bags", "Watches", "scarves", "Belts"]
shoes = ["Canvas", "Sports", "Boots", "Sandals"]
print(mens_wear)
print(womens_wear)
print(accessories)
print(shoes)

['Trousers', 'Shirts', 'Jackets', 'Tshirts']
['Dresses', 'Skirts', 'Blouses', 'Trousers']
['Bags', 'Watches', 'scarves', 'Belts']
['Canvas', 'Sports', 'Boots', 'Sandals']

In [ ]:
# List append
mens_wear = ["Trousers", "Shirts", "Jackets", "Tshirts"]
mens_wear.append("Jeans")
print(mens_wear)
womens_wear = ["Dresses", "Skirts", "Blouses", "Trousers"]
womens_wear.append("Leggings")
print(womens_wear)
accessories = ["Bags", "Watches", "scarves", "Belts"]
accessories.append("Gloves")
print(accessories)
shoes = ["Canvas", "Sports", "Boots", "Sandals"]
shoes.append("Slippers")
print(shoes)

['Trousers', 'Shirts', 'Jackets', 'Tshirts', 'Jeans']
['Dresses', 'Skirts', 'Blouses', 'Trousers', 'Leggings']
['Bags', 'Watches', 'scarves', 'Belts', 'Gloves']
['Canvas', 'Sports', 'Boots', 'Sandals', 'Slippers']

In [ ]:
# list extend

mens_wear = ["Trousers", "Shirts", "Jackets", "Tshirts", "Jeans"]
mens_wear.extend(["Jeans"])
print(mens_wear)
womens_wear = ["Dresses", "Skirts", "Blouses", "Trousers", "Leggings"]
womens_wear.extend(["Leggings"])
print(womens_wear)
accessories = ["Bags", "Watches", "scarves", "Belts", "Gloves"]
accessories.extend(["Gloves"])
print(accessories)
shoes = ["Canvas", "Sports", "Boots", "Sandals", "Slippers"]
shoes.extend(["Slippers"])
print(shoes)

['Trousers', 'Shirts', 'Jackets', 'Tshirts', 'Jeans', 'Jeans']
['Dresses', 'Skirts', 'Blouses', 'Trousers', 'Leggings', 'Leggings']
['Bags', 'Watches', 'scarves', 'Belts', 'Gloves', 'Gloves']
['Canvas', 'Sports', 'Boots', 'Sandals', 'Slippers', 'Slippers']

In [ ]:
# tuples

mens_wear = ("Trousers", "Shirts", "Jackets", "Tshirts", "Jeans")

print(mens_wear)
womens_wear = ("Dresses", "Skirts", "Blouses", "Trousers", "Leggings")

print(womens_wear)
accessories = ("Bags", "Watches", "scarves", "Belts", "Gloves")

print(accessories)
shoes = ("Canvas", "Sports", "Boots", "Sandals", "Slippers")

print(shoes)

('Trousers', 'Shirts', 'Jackets', 'Tshirts', 'Jeans')
('Dresses', 'Skirts', 'Blouses', 'Trousers', 'Leggings')
('Bags', 'Watches', 'scarves', 'Belts', 'Gloves')
('Canvas', 'Sports', 'Boots', 'Sandals', 'Slippers')

In [ ]:
 # set

 mens_wear = {"Trousers", "Shirts", "Jackets", "Tshirts", "Jeans"}


print(mens_wear)
womens_wear = {"Dresses", "Skirts", "Blouses", "Trousers", "Leggings"}

print(womens_wear)
accessories = {"Bags", "Watches", "scarves", "Belts", "Gloves"}

print(accessories)
shoes = {"Canvas", "Sports", "Boots", "Sandals", "Slippers"}

print(shoes)

{'Shirts', 'Tshirts', 'Jeans', 'Jackets', 'Trousers'}
{'Dresses', 'Leggings', 'Blouses', 'Trousers', 'Skirts'}
{'Gloves', 'scarves', 'Belts', 'Bags', 'Watches'}
{'Canvas', 'Sandals', 'Sports', 'Slippers', 'Boots'}

In [ ]:
# Clothing_Dictionary
Clothes={'mens_wear' : ["Trousers", "Shirts", "Jackets", "Tshirts", "Jeans"],
                    'womens_wear' : ["Dresses", "Skirts", "Blouses", "Trousers", "Leggings"],
                    'accessories' : ["Bags", "Watches", "scarves", "Belts", "Gloves"],
                    'shoes' : ["Canvas", "Sports", "Boots", "Sandals", "Slippers"]}
Clothes

{'mens_wear': ['Trousers', 'Shirts', 'Jackets', 'Tshirts', 'Jeans'],
 'womens_wear': ['Dresses', 'Skirts', 'Blouses', 'Trousers', 'Leggings'],
 'accessories': ['Bags', 'Watches', 'scarves', 'Belts', 'Gloves'],
 'shoes': ['Canvas', 'Sports', 'Boots', 'Sandals', 'Slippers']}