<a href="https://colab.research.google.com/github/timothy-87/Group-1-Tasks/blob/main/group_1_task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Categories = ["Men's wear","Women's wear", "Accessories" ,'Shoes']

a = "Men's wear"
b = "Women's wear"
c = 'Accessories'
d = 'Shoes'
print(a)
print(b)
print(c)
print(d)

Men's wear
Women's wear
Accessories
Shoes

In [ ]:
# Intergers
mens_wear = int(4)
womens_wear = int(4)
accessories = int(4)
shoes = int(4)
print(mens_wear)
print(womens_wear)
print(accessories)
print(shoes)

4
4
4
4

In [ ]:
# Intergers
mens_wear = int(4)
womens_wear = int(4)
accessories = int(4)
shoes = int(4)
print(mens_wear, womens_wear, accessories, shoes)

4 4 4 4

In [ ]:
# strings
mens_wear = "Trousers, Shirts, Jackets, Tshirts"
womens_wear = "Dresses, Skirts,Blouses,Trousers"
accessories = "Bags, Watches, scarves, Belts"
shoes = "canvas, sports, Boots , sandals"
# print(mens_wear, womens_wear, accessories, shoes)

# print(mens_wear)
# print(womens_wear)
# print(accessories)
# print(shoes)

print(mens_wear)
print(womens_wear)
print(accessories)
print(shoes)

Trousers, Shirts, Jackets, Tshirts
Dresses, Skirts,Blouses,Trousers
Bags, Watches, scarves, Belts
canvas, sports, Boots , sandals

In [ ]:
# float
mens_wear = float(4)
womens_wear = float(4)
accessories = float(4)
shoes = float(4)
print(mens_wear)
print(womens_wear)
print(accessories)
print(shoes)

4.0
4.0
4.0
4.0

In [ ]:
# Mens wear prices
Trousers = float(500)
shirts = float(300)
Jackets = float(400)
Tshirts = float(200)
print(Trousers, shirts, Jackets, Tshirts)

500.0 300.0 400.0 200.0

In [ ]:
# Womens wear prices
Dresses = float(300)
Skirts = float(200)
Blouses = float(50)
Trousers = float(150)
print(Dresses, Skirts, Blouses, Trousers)

300.0 200.0 50.0 150.0

In [ ]:
# Accessories prices
Bags = float(150)
Watches = float(50)
scarves = float(50)
Belts = float(30)
print(Bags, Watches,scarves,Belts)

150.0 50.0 50.0 30.0

In [ ]:
# Shoes prices
Canvas = float(100)
Sports = float(500)
Boots = float(300)
Sandals = float(70)
print(Canvas, Sports, Boots, Sandals)

100.0 500.0 300.0 70.0

In [ ]:
# List
mens_wear = ["Trousers", "Shirts", "Jackets", "Tshirts"]
womens_wear = ["Dresses", "Skirts", "Blouses", "Trousers"]
accessories = ["Bags", "Watches", "scarves", "Belts"]
shoes = ["Canvas", "Sports", "Boots", "Sandals"]
print(mens_wear)
print(womens_wear)
print(accessories)
print(shoes)

['Trousers', 'Shirts', 'Jackets', 'Tshirts']
['Dresses', 'Skirts', 'Blouses', 'Trousers']
['Bags', 'Watches', 'scarves', 'Belts']
['Canvas', 'Sports', 'Boots', 'Sandals']

In [ ]:
# inserting into a list

mens_wear = ["Trousers", "Shirts", "Jackets", "Tshirts"]
mens_wear.insert(3, "Jeans")
womens_wear = ["Dresses", "Skirts", "Blouses", "Trousers"]
womens_wear.insert(2, "Leggings")
accessories = ["Bags", "Watches", "scarves", "Belts"]
accessories.insert(1, "Gloves")
shoes = ["Canvas", "Sports", "Boots", "Sandals"]
shoes.insert(0, "Slippers")
print(mens_wear)
print(womens_wear)
print(accessories)
print(shoes)

['Trousers', 'Shirts', 'Jackets', 'Jeans', 'Tshirts']
['Dresses', 'Skirts', 'Leggings', 'Blouses', 'Trousers']
['Bags', 'Gloves', 'Watches', 'scarves', 'Belts']
['Slippers', 'Canvas', 'Sports', 'Boots', 'Sandals']

In [ ]:
# slice assignment

mens_wear[2:3] = ["Vests", "Boxers"]
mens_wear

['Trousers', 'Shirts', 'Vests', 'Boxers', 'Jeans', 'Tshirts']

In [ ]:
# List append
mens_wear = ["Trousers", "Shirts", "Jackets", "Tshirts"]
mens_wear.append("Jeans")
print(mens_wear)
womens_wear = ["Dresses", "Skirts", "Blouses", "Trousers"]
womens_wear.append("Leggings")
print(womens_wear)
accessories = ["Bags", "Watches", "scarves", "Belts"]
accessories.append("Gloves")
print(accessories)
shoes = ["Canvas", "Sports", "Boots", "Sandals"]
shoes.append("Slippers")
print(shoes)

['Trousers', 'Shirts', 'Jackets', 'Tshirts', 'Jeans']
['Dresses', 'Skirts', 'Blouses', 'Trousers', 'Leggings']
['Bags', 'Watches', 'scarves', 'Belts', 'Gloves']
['Canvas', 'Sports', 'Boots', 'Sandals', 'Slippers']

In [ ]:
# list extend

mens_wear = ["Trousers", "Shirts", "Jackets", "Tshirts", "Jeans"]
mens_wear.extend(["Jeans"])
print(mens_wear)
womens_wear = ["Dresses", "Skirts", "Blouses", "Trousers", "Leggings"]
womens_wear.extend(["Leggings"])
print(womens_wear)
accessories = ["Bags", "Watches", "scarves", "Belts", "Gloves"]
accessories.extend(["Gloves"])
print(accessories)
shoes = ["Canvas", "Sports", "Boots", "Sandals", "Slippers"]
shoes.extend(["Slippers"])
print(shoes)

['Trousers', 'Shirts', 'Jackets', 'Tshirts', 'Jeans', 'Jeans']
['Dresses', 'Skirts', 'Blouses', 'Trousers', 'Leggings', 'Leggings']
['Bags', 'Watches', 'scarves', 'Belts', 'Gloves', 'Gloves']
['Canvas', 'Sports', 'Boots', 'Sandals', 'Slippers', 'Slippers']

In [ ]:
# counting number of occurences in a list

mens_wear.count("Jeans")

2

In [ ]:
# .remove/del/.pop/.insert and counting the number of elements in a list

mens_wear = ["Trousers", "Shirts", "Jackets", "Tshirts", "Jeans"]
mens_wear.remove("Jeans")
print(len(mens_wear))
womens_wear = ["Dresses", "Skirts", "Blouses", "Trousers", "Leggings"]
print(len(womens_wear))
accessories = ["Bags", "Watches", "scarves", "Belts", "Gloves"]
accessories.remove("Gloves")
accessories.pop(2)
del accessories[-2]
print(len(accessories))
shoes = ["Canvas", "Sports", "Boots", "Sandals", "Slippers"]
shoes.insert(3, "Sneakers")
print(shoes)
print(len(shoes))

# len(mens_wear)
# len(womens_wear)
# len(accessories)
# len(shoes)

4
5
2
['Canvas', 'Sports', 'Boots', 'Sneakers', 'Sandals', 'Slippers']
6

In [ ]:
# sorting a list by alphabetical
mens_wear = ["Trousers", "Shirts", "Jackets", "Tshirts", "Jeans"]
mens_wear.sort()
print(mens_wear)

['Jackets', 'Jeans', 'Shirts', 'Trousers', 'Tshirts']

In [ ]:
# sorting in reverse alphabetical order - i

mens_wear = ["Trousers", "Shirts", "Jackets", "Tshirts", "Jeans"]
mens_wear.sort(reverse=True)
print("Z-A:", mens_wear)

Z-A: ['Tshirts', 'Trousers', 'Shirts', 'Jeans', 'Jackets']

In [ ]:
# sorting in reverse alphabetical order - i

mens_wear = ["Trousers", "Shirts", "Jackets", "Tshirts", "Jeans"]
mens_wear.sort(reverse=False)
print("A-Z:", mens_wear)

A-Z: ['Jackets', 'Jeans', 'Shirts', 'Trousers', 'Tshirts']

In [ ]:
# sorting the list by increasing length

womens_wear = ["Dresses", "Skirts", "Blouses", "Trousers", "Leggings"]
womens_wear.sort(key=len)
print("by length:", womens_wear)

by length: ['Skirts', 'Dresses', 'Blouses', 'Trousers', 'Leggings']

In [ ]:
# sorting the list by decreasing length

womens_wear = ["Dresses", "Skirts", "Blouses", "Trousers", "Leggings"]
womens_wear.sort(key=len, reverse=True)
print(womens_wear)

['Trousers', 'Leggings', 'Dresses', 'Blouses', 'Skirts']

In [ ]:
# counting elements in a list

accessories = ["Bags", "Watches", "scarves", "Belts", "Gloves"]
accessories.count("Gloves")

1

In [ ]:
# removing from a list

accessories = ["Bags", "Watches", "scarves", "Belts", "Gloves"]
accessories.remove("Gloves")
print(accessories)

['Bags', 'Watches', 'scarves', 'Belts']

In [ ]:
# tuples

mens_wear = ("Trousers", "Shirts", "Jackets", "Tshirts", "Jeans")

print(mens_wear)
womens_wear = ("Dresses", "Skirts", "Blouses", "Trousers", "Leggings")

print(womens_wear)
accessories = ("Bags", "Watches", "scarves", "Belts", "Gloves")

print(accessories)
shoes = ("Canvas", "Sports", "Boots", "Sandals", "Slippers")

print(shoes)

('Trousers', 'Shirts', 'Jackets', 'Tshirts', 'Jeans')
('Dresses', 'Skirts', 'Blouses', 'Trousers', 'Leggings')
('Bags', 'Watches', 'scarves', 'Belts', 'Gloves')
('Canvas', 'Sports', 'Boots', 'Sandals', 'Slippers')

In [ ]:
# set

mens_wear = {"Trousers", "Shirts", "Jackets", "Tshirts", "Jeans"}
print(mens_wear)

womens_wear = {"Dresses", "Skirts", "Blouses", "Trousers", "Leggings"}
print(womens_wear)

accessories = {"Bags", "Watches", "scarves", "Belts", "Gloves"}
print(accessories)

shoes = {"Canvas", "Sports", "Boots", "Sandals", "Slippers"}
print(shoes)

{'Shirts', 'Tshirts', 'Jeans', 'Jackets', 'Trousers'}
{'Dresses', 'Leggings', 'Blouses', 'Trousers', 'Skirts'}
{'Gloves', 'scarves', 'Belts', 'Bags', 'Watches'}
{'Canvas', 'Sandals', 'Sports', 'Slippers', 'Boots'}

In [4]:
# Clothing_Dictionary

Clothes = {
    'mens_wear' : {
       "List of Items" : ["Trousers", "Shirts", "Jackets", "Tshirts", "Jeans"],
       "Count" : [500, 300, 400, 200, 150],
       "Prices" : [500, 300, 400, 200, 150]
    },

    'womens_wear' : {
      "List of Items" : ["Dresses", "Skirts", "Blouses", "Trousers", "Leggings"],
      "Prices" : [300, 200, 50, 150, 100]
    },
    'accessories' : {
        "List of Items" : ["Bags", "Watches", "scarves", "Belts", "Gloves"],
        "Prices" : [150, 50, 50, 30, 50]
    },
    'shoes' : {
        "List of Items" : ["Canvas", "Sports", "Boots", "Sandals", "Slippers"],
        "Prices" : [100, 500, 300, 70, 100]
    }
}

Clothes

{'mens_wear': {'List of Items': ['Trousers',
   'Shirts',
   'Jackets',
   'Tshirts',
   'Jeans'],
  'Count': [500, 300, 400, 200, 150],
  'Prices': [500, 300, 400, 200, 150]},
 'womens_wear': {'List of Items': ['Dresses',
   'Skirts',
   'Blouses',
   'Trousers',
   'Leggings'],
  'Prices': [300, 200, 50, 150, 100]},
 'accessories': {'List of Items': ['Bags',
   'Watches',
   'scarves',
   'Belts',
   'Gloves'],
  'Prices': [150, 50, 50, 30, 50]},
 'shoes': {'List of Items': ['Canvas',
   'Sports',
   'Boots',
   'Sandals',
   'Slippers'],
  'Prices': [100, 500, 300, 70, 100]}}

In [ ]:
del Clothes["shoes"]
Print(Clothes)

In [5]:
Clothes["accessories"]

{'List of Items': ['Bags', 'Watches', 'scarves', 'Belts', 'Gloves'],
 'Prices': [150, 50, 50, 30, 50]}

                                                              -----

In [18]:
from google.colab import drive
drive.flush_and_unmount()

Drive not mounted, so nothing to flush and unmount.

***# Cloning your git repository to allow direct add, commit and push from colab to repository***

> *follow step by step* ⛓ ☑

> *Step 1; Cloning your repository*

In [12]:
# use the command '!git clone https://github.com/your-username/your-repository.git'

!git clone https://github.com/timothy-87/Group-1-Tasks.git

Cloning into 'Group-1-Tasks'...
remote: Enumerating objects: 9, done.
remote: Counting objects: 100% (9/9), done.
remote: Compressing objects: 100% (7/7), done.
remote: Total 9 (delta 2), reused 4 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (9/9), 4.77 KiB | 4.77 MiB/s, done.
Resolving deltas: 100% (2/2), done.

> *Step 2; Navigate into the cloned repo*

In [13]:
# run the command '%cd your-repository'

%cd Group-1-Tasks/

/content/Group-1-Tasks

In [15]:
# Confirm that your notebook is saved in the repo
# by running '!ls /content/your-repository'

!ls /content/Group-1-Tasks/

gikomba_market_task.ipynb  group_1_task.ipynb  README.md

In [17]:
# Use '!git status' command to check for modified files
# and files to be commited.

!git status

On branch main
Your branch is up to date with 'origin/main'.

nothing to commit, working tree clean

In [ ]:
# run the '!git add .' command to add ALL modified files,
# or '!git add "file_name.extension" to add specific file

!git add .

In [ ]:
# double check to confirm desired modified files have been added

!git status

In [ ]:
# Once confirmed, you can procced to commit,
# then push to your repo.

!git commit -m ""

In [ ]:
!git push origin main